/* Global */

@font-face {
    font-family: Apricots;
    src: url(./assets/Apricots.ttf);
}

:root {
    --white: #FFFFFF;
    --lightgrey: #F4F4F4;
    --black: #000000;
    --accent: #43A047;
    --blue1: #E1F5FE;
    --blue2: #0288D1;
    --blue3: #1976D2;;
}

body {
    background-color: var(--white);
    color: var(--black);
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

h1 {
    font-family: "Apricots", "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 3em;
    color: var(--accent);
    margin: 0;
}

/* Header */

header {
    background-color: var(--white);
    padding: 25px 15vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
    border-bottom: 3px solid var(--lightgrey);
}

header img {
    height: 50px;
    width: auto;
}

/* Nav */

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin-left: 75px;
    position: relative;
    font-weight: 400;
    text-decoration: none;
    font-size: 1.25em;
}

nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: var(--accent);
    transform: scaleX(0);
    transform-origin: left bottom;
    transition: transform 500ms;
}

nav a:link, nav a:visited, nav a:focus, nav a:active {
    color: var(--black);
}

nav a:hover {
    color: var(--accent);
}

nav a:hover::after {
    transform: scaleX(1);
}

/* Splash */

.splash {
    width: 100%;
    height: calc(100vh - 103px);
    position: relative;
}

.splash video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

.splash div {
    min-width: max-content;
    width: calc(40% - 200px);
    height: calc(100% - 200px);
    position: absolute;
    left: 15vw;
    top: 0;
    padding: 100px;
    z-index: 1;
    background-color: rgba(250, 250, 250, 0.75);
    color: var(--black);
    font-size: 2.75em;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.splash span {
    font-family: "Apricots", "Open Sans", sans-serif;
    font-size: 2em;
    color: var(--accent);
    transform-origin: center;
    transition: transform 1500ms, opacity 750ms ease-in-out;
}

#splash-text2, #splash-text3 {
    position: absolute;
    bottom: calc(50% - 0.75em);
    transform: scale(0);
    opacity: 0;
}

#splash-video2, #splash-video3 {
    display: none;
}

/* Sections */

.section {
    padding: 75px 20vw;
}

#services {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    scroll-margin-top: 100px;
}

#about, #contact {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    scroll-margin-top: 100px;
}

/* Images */

.headshot-container {
    height: 250px;
    width: 250px;
    margin-right: 75px;
    margin-left: 0;
    padding-top: 17px;
    position: relative;
}

.headshot-container:nth-child(2) {
    margin-right: 0;
    margin-left: 75px;
}

.headshot-container img {
    width: 100%;
}

.headshot-container div {
    height: 250px;
    border-radius: 50%;
    background-color: var(--blue1);
}
.headshot-container img {
    border-radius: 0 0 48% 48%;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Pull quotes */

.quote {
    text-align: center;
    background-color: var(--lightgrey);
    font-size: 2.5em;
    line-height: 1.5em;
}

.quote span {
    font-family: "Apricots", "Open Sans", sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    color: var(--accent);
    margin: 0;
}

/* Bullet list */

.bullet-points {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

ul {
    margin-top: 0;
}

li {
    margin-bottom: 5px;
}

/* Contact links */

#contact img {
    margin-right: 10px;
    transform: translateY(0.25em);
}

#contact a {
    font-weight: 600;
    text-decoration: none;
}

#contact a:link, #contact a:visited, #contact a:focus, #contact a:active {
    color: var(--blue2);
    text-decoration: none;
}

#contact a:hover {
    color: var(--blue3);
    text-decoration: underline;
}

/* Footer */

footer {
    padding: 25px 15vw;
    background-color: var(--black);
    color: var(--white);
    font-size: 0.9em;
    text-align: center;
}

/* Media queries */

@media screen and (max-width: 1200px) {

    .section {
        padding: 75px 10vw;
    }

    header {
        padding: 25px 10vw;
    }

    nav a {
        margin-left: 50px;
    }
}


@media screen and (max-width: 800px) {

    .section, header {
        padding: 25px;
    }

    header {
        flex-direction: column;
        align-items: center;
        height: max-content;
        width: calc(100vw - 50px);
    }

    header img {
        max-width: calc(100vw - 50px);
    }

    nav a {
        font-size: 1em;
        width: max-content;
        margin: 25px 25px 0 0;
    }

    nav a:last-of-type {
        margin: 25px 0 0 0;
    }

    .splash {
        height: 75vh;
    }

    .splash div {
        height: calc(100% - 50px);
        min-height: min-content;
        width: calc(100vw - 50px);
        padding: 25px;
        left: 0;
        bottom: 0;
        font-size: 2em;
    }

    .quote {
        font-size: 1.5em;
    }

    #services, #about, #contact {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    
    .headshot-container, .headshot-container:nth-child(2) {
        margin: 0;
        padding: 0;
        transform: scale(0.75);
        justify-self: center;
        grid-area: 3 / 1 / 4 / 2;
    }
}