:root {
    --white: #FFFFFF;
    --black: #212121;
    --accent: #4CAF50;
    --link: #0277BD;
    --link-hover: #01579B;
}

body {
    background-color: var(--white);
    color: var(--black);
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

header {
    margin: 25px 10vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

header img {
    height: 50px;
    width: auto;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin-left: 50px;
    position: relative;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.1em;
}

nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -5px;
    left: 0;
    background-color: var(--accent);
    transform: scaleX(0);
    transition: transform 500ms;
}

nav a:link, nav a:visited, nav a:focus, nav a:active {
    color: var(--black);
}

nav a:hover {
    color: var(--accent);
}

nav a:hover::after {
    transform: scaleX(1);
}

.splash {
    width: 100vw;
    height: calc(80vh - 90px);
    position: relative;
}

.splash video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}