/* Global */

@font-face {
    font-family: Apricots;
    src: url(./assets/Apricots.ttf);
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --accent: #4CAF50;
    --link: #0277BD;
    --link-hover: #01579B;
}

body {
    background-color: var(--white);
    color: var(--black);
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

/* Header */

header {
    margin: 25px 10vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

header img {
    height: 50px;
    width: auto;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin-left: 50px;
    position: relative;
    font-weight: 400; /*Or 600?*/
    text-decoration: none;
    font-size: 1.25em;
}

nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: var(--accent);
    transform: scaleX(0);
    transform-origin: left bottom; /*Not sure if I want to keep this*/
    transition: transform 500ms;
}

nav a:link, nav a:visited, nav a:focus, nav a:active {
    color: var(--black);
}

nav a:hover {
    color: var(--accent);
}

nav a:hover::after {
    transform: scaleX(1);
}

/* Splash */

.splash {
    width: 100vw;
    height: calc(100vh - 100px);
    position: relative;
}

.splash video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

.splash div {
    width: calc(50% - 200px);
    height: calc(100% - 200px);
    position: absolute;
    left: 0;
    top: 0;
    padding: 100px;
    z-index: 1;
    background-color: rgba(250, 250, 250, 0.75);
    color: var(--black);
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#splash-text {
    font-family: "Apricots", "Open Sans", sans-serif;
    font-size: 2em;
    line-height: 100%;
    color: var(--accent);
}
